#main-nav {
  padding: 4px 16px;
  background-color: #fff;
  border-bottom: 1px solid #d3d3d3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  #nav-title {
    font-size: 18px;
    font-weight: 700px;
    color: #5e5493;
  }

  a.profile-ball {
    background-color: #5e5493;
    clip-path: circle(40%);
    padding: 1em;
    color: #fff;
  }
}
